{ZL.Source id="转向链接模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/Template/office/{$CssDir/}images/win8_symbol_140x140.png"/>
<title>{SField sid="转向链接模型数据源标签" FD="Title" page="0"/}</title>
{ZL:Boot()/}
<meta name="Keywords" content="{SField sid="转向链接模型数据源标签" FD="Tagkey" page="0"/}">
</head>
<body>
<script language ="javascript">
     window.location ="{SField sid="转向链接模型数据源标签" FD="RedirectLink" page="0"/}";
</script>
</body>
</html>
